<div class="container-fluid">
    <div class="d-flex justify-content-center">
      
        <mat-form-field appearance="fill">
            <mat-label>Stok Adı</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0] : ''}}
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                  (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
               
    </div>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      
        <mat-form-field appearance="fill">
            <mat-label>Depo Adı</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0] : ''}}
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                  (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
               
    </div>
  </div>

  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      
        <mat-form-field>
        <mat-label>Miktar </mat-label>
        <input matInput placeholder="Depo adı girin" [formControl]="class" required>
        <mat-error *ngIf="class">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
     
    </div>
  </div>
   
  
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      
        <mat-form-field appearance="fill">
            <mat-label>Zimmet alan kişi</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-select-trigger>
                {{toppings.value ? toppings.value[0] : ''}}
                <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                  (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
            </mat-select>
          </mat-form-field>
               
    </div>
  </div>