 <div class="container-fluid"> 
<div class="d-flex justify-content-center">
  <mat-form-field appearance="fill">
    <mat-label>Ad</mat-label>
    <input matInput>
  </mat-form-field>
</div>

<div class="container-fluid"> 
  <div class="d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Açıklama</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>

 
      <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Üretici</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

       <div class="container-fluid"> 
    <div class="d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Üretim Tarihi</mat-label>
        <input matInput>
        <input type="date">
        
      </mat-form-field>
    </div>
   
      
     
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Barkod</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
  


  
</div> 

<!-- ekipman için yapıldı -->
<!-- <div class="container-fluid">

  <div class="d-flex justify-content-center"> -->
    



    <!-- <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
   
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field> -->
    
<!-- zimmet için yapıldı -->

    <!-- <div class="container-fluid">
      <div class="d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Stok Adı</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let stokAdi of stokAdlari" [value]="stokAdi">{{stokAdi}}</mat-option>
        </mat-select>
      </mat-form-field>
    
    </div> 

    <div class="container-fluid">
      <div class="d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Depo Adı</mat-label>
        <mat-select>
          <mat-option>None</mat-option>
          <mat-option *ngFor="let zimmetDepoAdi of zimmetDepoAdlari" [value]="zimmetDepoAdi">{{zimmetDepoAdi}}</mat-option>
        </mat-select>
      </mat-form-field>
    
    </div>
    
    <div class="container-fluid">
      <div class="d-flex justify-content-center">
        <div class="container-fluid">
          <div class="d-flex justify-content-center">
            <mat-form-field class="example-full-width">
              <mat-label>Miktar</mat-label>
              <input matInput placeholder="Örn. 335 Kilogram " value="">
            </mat-form-field>
          </div>

          <div class="container-fluid">
            <div class="d-flex justify-content-center">
              <div class="container-fluid">
                <div class="d-flex justify-content-center">
                  <mat-form-field appearance="fill">
                    <mat-label>Zimmet Alan Kişi</mat-label>
                    <mat-select>
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let alanKisi of alanKisiler" [value]="alanKisi">{{alanKisi}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

    
   
<!-- 
</div>
</div> -->

 