<div class="container-fluid"> 
  <div class="d-flex justify-content-center">
    <mat-form-field appearance="fill">
      <mat-label>Ad</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  
  <div class="container-fluid"> 
    <div class="d-flex justify-content-center">
      <mat-form-field appearance="fill">
        <mat-label>Açıklama</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
  
   
        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Üretici</mat-label>
            <input matInput>
          </mat-form-field>
        </div>
  
         <div class="container-fluid"> 
      <div class="d-flex justify-content-center">
        <mat-form-field appearance="fill">
          <mat-label>Üretim Tarihi</mat-label>
          <input matInput>
          <input type="date">
        </mat-form-field>
      </div>
     
        
       
          <div class="d-flex justify-content-center">
            <mat-form-field appearance="fill">
              <mat-label>Barkod</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
    
  
  
    
  </div> 